<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 设置日志实现，值为 SLF4J | LOG4J | LOG4J2 | JDK_LOGGING | COMMONS_LOGGING | STDOUT_LOGGING | NO_LOGGING -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="url" value="jdbc:sqlite:D:\tools\sqlite-tools-win-x64-3470200\winter?busy_timeout=5000&amp;journal_mode=WAL"/>
                <!--填写你的数据库用户名-->
                <property name="username" value=""/>
                <!--填写你的数据库密码-->
                <property name="password" value=""/>
            </dataSource>
        </environment>
        <environment id="production">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="url" value="jdbc:sqlite:winter"/>
                <!--填写你的数据库用户名-->
                <property name="username" value=""/>
                <!--填写你的数据库密码-->
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="org.pierce.mybatis.mapper"/>
    </mappers>

</configuration>